<app-search-form (getFlightList)="searchFlightList($event)"></app-search-form>
<div>List Here</div>

<div *ngIf="datalist">
  <div *ngFor="let item of datalist">
    <div class="card">
      <div class="card-header">
        {{ item.details.flightDetail[0].airline_name }} -
        {{ item.details.flightDetail[0].flight_number }}
      </div>
      <div class="card-body row">
        <div class="col-md-4">
          <p>
            {{ item.details.flightDetail[0].departureTime }},
            {{ item.details.flightDetail[0].departureDate | date : "mediumDate" }}
          </p>
          <p>{{ item.details.flightDetail[0].fromCity_name }}</p>
          <h6>{{ item.details.flightDetail[0].fromAirport_name }}</h6>
        </div>
        <div class="col-md-4">
            <h6>{{ item.details.flightDetail[0].journeyDuration }}</h6>
            <p *ngIf="item.stops == 0">Non-Stop</p>
            <p *ngIf="item.stops > 0">{{item.details.stops}}</p>
        </div>
        <div class="col-md-4">
          <p>
            {{ item.details.flightDetail[0].arrivalTime }},
            {{ item.details.flightDetail[0].arrivalDate | date : "mediumDate" }}
          </p>
          <p>{{ item.details.flightDetail[0].toCity_name }}</p>
          <h6>{{ item.details.flightDetail[0].toAirport_name }}</h6>
        </div>
      </div>
      <div class="card-footer text-body-secondary">{{ item.price.totalAmount }} {{item.price.currency}}</div>
    </div>
  </div>
</div>
